aiohttp
beautifulsoup4
flask-static-compress
flask==3.0.1
flask[async]
gunicorn
openai
requests
werkzeug==3.0.1
wtforms
flask-bootstrap
flask-wtf
pymongo
waitress
python-dotenv
email_validator
tiktoken
nltk