<div id="mobile-menu" class="mobile-menu">
  <div class="nav-container">
    <img
      src="https://berserkpixel.studio/v2/favicon.png"
      class="logo rounded-full w-10 h-10 mr-2"
    />
    <span class="title-font font-medium items-center text-gray-900 text-xl"
      >Pixel Analitics</span
    >
    <nav id="nav-mobile" class="nav">
      <ul class="nav--ul__one">
        {% if not loggedin %}
        <a href="{{ url_for('login_route') }}">Login</a>
        <a href="{{ url_for('register_route') }}">Create Account</a>
        {% else %}
        <a href="{{ url_for('account_route') }}"
          >{{ session['username'] }}'s Account</a
        >
        {% endif %}
      </ul>
    </nav>
    <span class="hamburger-menu material-symbols-outlined">menu</span>
  </div>
</div>
