.form-container {
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    margin-top: 15px !important;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.form-container .row {
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
}

.notification {
    background-color: #4CAF50;
    color: white;
    position: relative;
    margin: auto;
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 6px 6px;
    cursor: pointer;
}

#update {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

#logout {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #fff;
    background-color: #41586d;
    border-color: #2e6da4;
}

#delete {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.form-container .paid-status {
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 767px) {
    .card {
        margin: 15px;
        width: calc(100% - 30px);
    }

    #mobile-menu {
        display: block;
    }
    
    .desktop-nav {
        display: none;
    }
}